@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    border: none;
    box-sizing: border-box;
    font: 1.1em Arial, Helvetica, sans-serif;
}

body,html {
    height: 100vh;
    width: 100vw;
    background: #1C1C1C;
}

div#container {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

form {
    max-width: 70%;
    max-height: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

div#container-inputs {
    width: 70%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

h1 {
    color: #fff;
    margin: 20px 0;
}

input {
    margin: 10px 0;
    height: 30px;
    padding: 0 10px;
    border-radius: 7px;
    font-size: .8em;
}

#res {
    margin: 10px 0;
    height: 30px;
    padding: 0 10px;
    font-size: .8em;
    border-radius: 7px;
    background: #fff;

    display: flex;
    align-items: center;
    justify-content: center;
}

.ope {
    color: #fff;
}

#button:hover {
    cursor: pointer;
    opacity: .8;
}